.container {
    background: #8f8e8e;
    margin: 10px auto;
    width: 760px;
    box-sizing: border-box;


}
 .column {
     box-sizing: border-box;
      float: left;
      width: 240px;

      margin-right: 10px;
}

.column:nth-last-child(1){
    margin-right: 0px;
}
.card {
    padding: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #4b4a4a;
  margin-bottom: 10px;

}
.img{
    
    width: 230px;
    opacity: 0;
    transition: opacity .3s ease ;

}


p {
    font-size: 12px;
    line-height: 20px;
    margin: 5px;
    color: black;
}

